<!-- As a heading -->
<nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0" style="margin: auto;">Login Screen</h1>
</nav>
<br />
<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Login</h4>
      <div>
        <form [formGroup]="loginForm" novalidate>
          <div
            class="form-group"
            [class.has-danger]="
              (loginForm.get('email')?.hasError('required') ||
              loginForm.get('email')?.hasError('email')) &&
              loginForm.get('email')?.hasError('email') &&
              loginForm.get('email')?.touched
            "
          >
            <label for="exampleInputEmail1">Email address</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              [class.form-control-danger]="
              loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched
              "
              placeholder="Enter email"
            />
            <div
              *ngIf="
              loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched
              "
              class="form-control-feedback"
            >
              Sorry, that username's taken. Try another?
            </div>
            <div
              *ngIf="
              loginForm.get('email')?.hasError('email') &&
              loginForm.get('email')?.touched &&
                !loginForm.get('email')?.hasError('required')
              "
              class="form-control-feedback"
            >
              That's not an email address
            </div>
          </div>
          <div
            class="form-group"
            [class.has-danger]="
              (loginForm.get('password')?.hasError('required') ||
                loginForm.get('password')?.hasError('minlength')) &&
                loginForm.get('password')?.touched
            "
          >
            <label for="exampleInputPassword1">Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              [class.form-control-danger]="
              loginForm.get('password')?.hasError('required') &&
              loginForm.get('password')?.touched
              "
              placeholder="Password"
            />

            <div
              *ngIf="
              loginForm.get('password')?.hasError('required') &&
              loginForm.get('password')?.touched
              "
              class="form-control-feedback"
            >
              Password required
            </div>

            <div
              *ngIf="
              loginForm.get('password')?.hasError('minlength') &&
              loginForm.get('password')?.touched
              "
              class="form-control-feedback"
            >
              Minimum length is 6 characters. Add more!
            </div>
          </div>

          <button type="submit" (click)="onSubmit()" class="btn btn-primary">
            Submit
          </button>

          <button type="submit" (click)="onReset()" class="btn">Clear</button>
        </form>
      </div>
    </div>
  </div>
</div>
